<div class="container">
  <div class="page-header">
    <h1>Blog<small>&nbsp;Follow Posts</small></h1>
  </div>
  <div class="row" *ngFor="let o of posts">
    <div class="col-sm-10 col-md-8">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>{{o.title}}</h3>
          <p>{{o.body}}</p>
          <p><a href="#" class="btn btn-success" role="button" (click)="readmore(o)">Read More</a></p>
        </div>
      </div>
    </div>
  </div>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
</div>
